.nav_bar span{
    color:#FFF;
    font-size: 30px;
}

.nav_bar a{
    text-decoration: none;
}

.nav_bar{
    padding-left: 25px;
}

#front, #hot, #public, #box, #aboutus{
    padding-left:25px;
    padding-right:25px;
    padding-top:25px;
    padding-bottom: 25px;
}

user{
    cursor: pointer;
}

#username{
    padding-top:5px;
    padding-right:25px;
    float:right;
}

#profilePic{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right:25px;
    float:right;
}

.nav_bar{
    background-color: rgba(0, 195, 255);
    position:fixed;
    top:0;
    left:0;
    right:0;
    padding-top:20px;
    padding-bottom: 25px;
    overflow: hidden;
}
#front{
    margin-left:10px;
}
#front:hover{
    background-color: rgba(3, 149, 194);
    padding-bottom: 30px;
}
#hot:hover{
    background-color: rgba(3, 149, 194);
    padding-bottom: 30px;
}
#public:hover{
    background-color: rgba(3, 149, 194);
    padding-bottom: 30px;
}
#box:hover{
    background-color: rgba(3, 149, 194);
    padding-bottom: 30px;
}
#aboutus:hover{
    background-color: rgba(3, 149, 194);
    padding-bottom: 30px;
}