#content{
    padding-top: 100px;
    padding-left: 50px;
}

.table .topic_title{
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 0;
}

.table .paragraph{
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.table .user{
    font-size:15px;
}

.table .name{
    font-size: 15px;
    display: inline;
}