#background-color{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(201, 198, 198, 0.295);
    z-index: -1;
}

.post{
    margin-top:100px;
    border-radius: 5px 10px 5px 10px;
    border: 2px solid #28334AFF;
    /* border: 2px solid #d42f19; */
    box-sizing: border-box;
    background-color: #28334AFF;

    /* background-color: #0b60df; */

    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    /* background-color: #929292; */
    height: 45px;
    margin-bottom:20px;
}

/* test{
    background-color: #0dbebe;
} */


#post{
    padding-left:12px;
    font-size:30px;
    padding-top:10px;
    color:white;
}
.post:hover{
    cursor: pointer;
    background-color: rgb(65, 82, 117);
    border: 2px solid rgb(65, 82, 117);
}

.container {
    border-radius: 5px 10px 0px 0px;
    border: 2px solid #0fa0a0;
    border: 0px solid #b9b8b823;

    /* border: 2px solid #72d3eb18; */
    box-sizing: border-box;
    /* background-color: #0fa0a0; */
    background-color: #86ece4;
    background-color: #89ABE3FF;

    /* background-image: linear-gradient(to right, rgb(160, 160, 160),rgba(218, 218, 218, 0.452)); */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    height:auto;
    overflow: auto;
    padding-top: 5px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 7px;
}

/* #c_title:hover .container{
    background-color: rgb(12, 114, 114);
    border: 2px solid #0c7272;
    cursor:pointer;
} */
#a_title{
    text-decoration: none;
}
#c_title{
    font-size:30px;
    margin-left:10px;
    font-weight:bold;
    color: #000000;
}
#c_title:hover{
    text-decoration: underline;
}

.links{
    float:right;
    margin-right:30px;
    margin-top:5px;
}
.link{
    font-size:20px;
    padding-left:5px;
    text-decoration: underline;
    color:rgba(34, 31, 31, 0.829);
}

#content {
    /* background-color: #0df3f3; */
    background-color: #ffffff;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    /* background-image: linear-gradient(to right, rgba(174, 255, 154, 0.397), rgb(111, 223, 20)); */
    box-sizing: border-box;
    box-sizing:content-box;
    height:140px;
    overflow: auto;
    padding: 10px;
    /* border-bottom: rgba(0,0,0,.5); */
}

#text_content{
    margin-left:5px;
    font-size:17px;
    word-wrap: break-word;
    width: auto;
}

#name{
    border-radius: 0px 0px 5px 10px;
    background-color: #0df3f3;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    /* background-image: linear-gradient(to right, rgba(174, 255, 154, 0.397), rgb(111, 223, 20)); */
    box-sizing: border-box;
    box-sizing:content-box;
    height: 32px;
    margin-bottom: 30px;
    padding-right:2px;
    padding-left:2px;
    position: relative;
    z-index: 2;
}
.user{
    margin-left:12px;
    font-size:17px;
}
.username{
    color: black;
    margin-left:2px;
    font-size:17px;
}